

@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

body {
    margin: 0;
    font-family: "Varela Round", sans-serif;
    background: #ffffff;
}

.top-bar {
    width: 100%;
    height: 70px;
    background-color: #b6d9ec;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.top-bar img {
    width: 3%;
    margin-left: 70px;
   
}

.botao-inicio {
    font-size: 20px;
    font-weight: 500;
    color: #181d54;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

.botao-sobre {
    font-size: 15px;
    color: #181d54;
    background: transparent;
    border: none;
    margin-left: 725px;
    cursor: pointer;
}

.botao-cadastre {
    font-size: 15px;
    color: #181d54;
    background: transparent;
    border: none;
    margin-left: 100px;
    cursor: pointer;
}

.main-login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.left-login, .right-login {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.left-login > h1 {
    color: #181d54;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.left-login img {
    width: 90%;
    max-width: 300px;
    height: auto;
}

.card-login {
    width: 80%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: #b6d9ec;
    border-radius: 15px;
    box-sizing: border-box;
}

.card-login > h1 {
    color: #2c3e50;
    font-weight: 800;
    margin-bottom: 20px;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.textfield > label {
    color: #2c3e50;
    margin-bottom: 5px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(238, 238, 238);
    color: #2c3e50;
    font-size: 12px;
    outline: none;
    box-sizing: border-box;
}

.botao-login {
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
    border: none;
    border-radius: 7px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(224, 225, 255);
    background: #181d54;
    cursor: pointer;
}

.botao-esqueci-senha {
    margin-top: 15px;
    font-weight: 50;
    border: none;
    color: #181d54;
    background: #b6d9ec;
    cursor: pointer;
    
}

@media (max-width: 768px) {
    .main-login {
        flex-direction: column;
        padding: 20px;
    }

    .left-login, .right-login {
        flex: none;
        width: 100%;
        height: auto;
    }

    .card-login {
        width: 90%;
        max-width: 400px;
    }

    .left-login img {
        max-width: 250px;
    }
}
